<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_formulario.css') }}">
    <title>Editar Ingrediente</title>
</head>
<body>
    <h1>Editar Ingrediente</h1>

    <form action="{{ url_for('editar_ingrediente', ingrediente=ingrediente) }}" method="POST">
        <!-- Agrega campos del formulario según tus necesidades -->
        <label for="unidad">Unidad:</label>
        <input type="text" id="unidad" name="unidad" value="{{ info['unidad'] }}" required>

        <label for="valor_unidad">Valor por Unidad:</label>
        <input type="text" id="valor_unidad" name="valor_unidad" value="{{ info['valor_unidad'] }}" required>

        <label for="sitio_compra">Sitio de Compra:</label>
        <input type="text" id="sitio_compra" name="sitio_compra" value="{{ info['sitio_compra'] }}" required>

        <label for="calorias">Calorías por Unidad:</label>
        <input type="text" id="calorias" name="calorias" value="{{ info['calorias'] }}" required>

        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>
