<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Registro de Usuario</h1>
        <p>Completa el siguiente formulario para registrarte:</p>
    </header>

    <section>
        <form method="POST" action="{{ url_for('registro') }}">
            {{ form.hidden_tag() }}
            <label for="usuario">Usuario:</label>
            {{ form.usuario() }}

            <label for="contra">Contraseña:</label>
            {{ form.contra() }}

            <label for="rol">Rol (admin/chef):</label>
            {{ form.rol() }}

            {{ form.submit() }}
        </form>
    </section>

    <footer>
        <p>&copy; 2023 Tu Aplicación</p>
    </footer>
</body>
</html>
