<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_ver_ingredientes.css') }}">
    <title>Ver Ingredientes</title>
</head>
<body>
    <h1>Lista de Ingredientes</h1>
    
    <ul>
        {% for nombre, info in ingredientes.items() %}
            <li>{{ nombre }} - {{ info }}</li>
        {% endfor %}
    </ul>
</body>
</html>
